.name{
    font-family: josefin sans, sans-serif;
    color: #0b0044;
    font-size: 30px;

}

.price{
    font-family: josefin sans, sans-serif;

}

.desc{
    font-family: Arial, sans-serif;
    color: #292644;
    padding: 10px;


}